body{
    background-color: tomato;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.card{
    border: 1px solid black;
    background-color: black;
    color: white;

}
.color-boton{
    background-color: cadetblue;
}